body {margin:0}

.icon-bar {
    height: 100%;
    width: 80px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 20px;
  transition: all 0.3s ease;
  color: white;
  font-size: 25px;
}

.icon-bar a:hover {
  background-color: #ffffff;
  color: black;
  
}

.active {
  background-color: #ffffff;
}

.active>img{
    width: 100%;
    border-radius: 25%;
}